-#  Copyright (c) 2012-2014, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

= render layout: 'table_header_agegroups',
         locals: { before_columns: [''], after_columns: [t('census_evaluation.total'), '']} do
  - @sub_groups.each do |g|
    %tr
      %td= link_to(g.to_s, census_evaluation_path(g, year: @year, name: FilterNavigation::MemberCounts::FILTER_NAMES.second))
      - @max_birth_year.downto(@min_birth_year) do |year|
        %td.right= age_count_field(@group_counts[g.id], year, "f")
        %td.right= age_count_field(@group_counts[g.id], year, "m")
        
      %td.right= count_value_group_total(g)
      %td.right= render 'total_actions', group: g
  = render 'total_row_agegroups'
